ul {
  list-style-type: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding-top: 24px;
  gap: 24px;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
}

.gallery-image {
  display: block;
  width: 360px;
  height: 200px;
}
